#gallery{
  display: flex;
  align-items: center;
  margin-left: -5px;
  margin-right: -5px;
  padding: 10px;
}

.item{
    list-style: none;
    width: 300px;
    margin-left: 5px;
    margin-right: 5px;
}

.image{
    width: 100%;
}